<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-tab-group>
  <mat-tab label="Accueil">
    <mat-card id="welcome">
      <h1>Bienvenue dans l'application de gestion du cabinet</h1>
    </mat-card>
  </mat-tab>

  <mat-tab label="Patients Affectés">
    <div class="esp" *ngFor="let infirmier of getInfirmiers()">
      <app-infirmier  [cabinetService] = "cabinetService" [infirmier]="infirmier">
        <div *ngFor="let patient of infirmier.patients"></div>
      </app-infirmier>
    </div>
  </mat-tab>

  <mat-tab label="Patients Non Affectés">
    <div class="esp" *ngFor ="let patient of getPatients()">
      <app-patient [cabinetService] = "cabinetService" [patient]="patient" [infirmiers]="getInfirmiers()"></app-patient>
    </div>
  </mat-tab>

  <mat-tab class="esp" label="Ajouter Patient">
    <span id="space"></span>
    <mat-card class="patientBox" >
      <mat-form-field>
        <input matInput placeholder="Nom" #nom>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prénom" #prenom>
      </mat-form-field>
      <mat-form-field>
        <mat-select #sexe placeholder="Sexe">
          <mat-option value='H'>Homme</mat-option>
          <mat-option value='F'>Femme</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="naissance" placeholder="Date de naissance">
        <mat-datepicker-toggle matSuffix [for]="naissance"></mat-datepicker-toggle>
        <mat-datepicker #naissance></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Numéro de sécurité social" #numSecu>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Etage" #Etage>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Numéro" #Num>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Rue" #Rue>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Code postal" #CP>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ville" #ville>
      </mat-form-field>
      <button mat-raised-button color="primary" value="ajouter" (click)="service_ajouter(nom.value,prenom.value,numSecu.value,sexe.value,naissance._datepickerInput.value,Etage.value,Num.value,Rue.value,CP.value,ville.value)">Ajouter</button>
    </mat-card>
  </mat-tab>
</mat-tab-group>





