
mat-card {
  width: 90%;
  margin-left:5%;
  margin-right:5%;

}


.esp {
  padding-top: 5%;
}
#space {
  height:30px;
  padding:40px;
}

.patientBox {
  display: flex;
  flex-direction: column;
}

#welcome {
  width: 70%;

  margin-left:15%;
  margin-right:15%;
}
